@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(20, 19, 19);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}
.container {
    display: flex;
    align-items: center;
    height: calc(100vh - 16px);
}

.buttons {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: repeat(4, 1fr);
    width: 370px;
}

.calculator {
    width: 370px;
    margin: 0 auto;
}

.output {
    padding: 25px;
    width: 100%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

button {
    border: none;
    background-color: rgb(39, 36, 36);
    padding: 10px;
    color: white;
    margin: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
